* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

nav {
  position: absolute;
  left: calc((100vw - 950px) / 2);
  top: 8vh;
  width: 950px;
  height: 40px;
  background: #466368;
  background: -webkit-linear-gradient(#737373, #5e5e5e  50%, #707070 50%, #8d8d8d );
  background:    -moz-linear-gradient(#737373, #5e5e5e  50%, #707070 50%, #8d8d8d );
  background:         linear-gradient(#737373, #5e5e5e  50%, #707070 50%, #8d8d8d );
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.right-border {
  border-right: 1px solid gray;
}

.apple-logo {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 8px;
  margin-left: 15px;
}

nav > div > a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 8px;
  margin-right: 25px;
}

nav div:nth-child(1) {
  width: 80px ;
}

.fa-search {
  color: white;
}

.search-box {
  margin-top: 8px;
  margin-right: 25px;
}

.search {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: inherit;
  margin-left: -30px;
}

.big-image {
  width: 100vw;
  height: 65vh;
  background-image: url("/assets/img/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -950px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-image-caption *{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.fa-play-circle {
  width: 30px;
}

.paragraph {
    font-size: 60px;
    color: white;
    font-family: 'Lato', sans-serif;

}

.paragraph2 {
    font-size: 30px;
    color: white;
    font-weight: lighter;
}

.paragraph3 {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.image-container {
    display: grid;
    width: 100vw;
   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 0 auto;
    grid-auto-flow: column;
}

.image-box img {
  width: 25vw;
  height: 25vh;
}

.left-side p {
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #6e6e6e;
}

.left-side > p > a {
  text-decoration: none;
  color: #08c;
}

footer {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
}

.footer-list {
  list-style-type: none;
  font-size: 12px;
  color: gray;
  margin-top: 15px;
}

.footer-list li {
  display: inline;
  
}

.footer-list li a {
  text-decoration: none;
  color: #08c;
  padding-right: 5px;
  border-right: 1px solid #6e6e6e;
}
